
/*-------------------------------HEADER----------------------------*/
header {
    width: 100%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a {
    margin: 1%;
}

/*---------------------------INTRODUCTION---------------------------*/
.introduction {
    width: 100%;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.introduction-information {
    margin: 2% ;
    width: 67%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.introduction-information h1  {
    width: 50%;
}

.introduction-information p {
    width: 50%;
}

.introduction-information span {
    display: block;
    width: 50%;
    margin-top: 3%;
}

#cv_dava {
    font-weight: bolder;
    text-decoration: none;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 2%;
}

.introduction-information span img {
    width: 10%;
}


/*Image intrduction*/
.introduction-image {
    width: 29%;
}
.introduction-image img {
    width: 70%;
}

/*---------------------------------ABOUT ME--------------------------------*/
.about-me {
    width: 100%;
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about-me-information {
    width: 46%;
    margin: 2%;
    height: 400px;
}

.about-me-experience {
    width: 46%;
    margin: 2%;
    height: 400px;
}
.about-me-experience div {
    margin-bottom: 1%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/*-------------------------------MY TECH CAREER---------------------*/
.my-tech-career {
    width: 100%;
    background-color: aquamarine; 
    display: flex;
    flex-wrap: wrap;
}
.tech-use {
    width: 50%;
}
.tech-use div img {
    margin-top: 10%;
    width: 30%;
}

.tech-use-select {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tech-use-select h1 {
    width: 100%;
    text-align: center;
}

.tech-use-images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

.projects {
    width: 50%;
    background-color: lightcoral;
    text-align: center;
}

.projects-images  {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.projects-images img {
    margin-top: 5%;
    width: 80%;
}